.about_content{
    width: 60%;
    padding-left: 50px;
    padding-top: 50px;
}
.about_content > h1{
    font-size: 3.2rem;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.about_content > p{
    font-family: sans-serif;
    margin-bottom: 1rem;
    font-weight: 400;
}
.about_content > p >a {
    text-decoration: none;
}